<footer style="background-color:rgb(199, 247, 189);"  class="footer">
    <div class="section-center">
      <div  class="social-icons">
        <!-- social icon -->
        <a style="margin: 30px ;" href="https://www.facebook.com/"><i class="fa fa-facebook-square" style="font-size:35px;color:rgb(12, 12, 82);"></i></a>
        <!-- end of social icon -->
        <!-- social icon -->
        <a style="margin: 30px ; ;" href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram" style="font-size:35px;color:rgb(168, 8, 8);"></i></a>
        <!-- end of social icon -->
        <!-- social icon -->
        <a style="margin: 30px ;" href="https://www.youtube.com/"><i class="fa fa-youtube-play" style="font-size:35px;color:rgb(231, 4, 4);" href="https://www.google.com/"></i></a>
        <!-- end of social icon -->
      </div>
      <p class="footer-text">
        &REG; <span style="color: black;"><strong>Haris's Portfolio</strong> </span>. <strong> all rights
          reserved</strong>
      </p>
    </div>
  </footer>