<div class="form-group">

  <label  for="title"><strong>Title</strong></label>
  <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>
<div>  
  <div class="form-group">
    <label for="img"><strong>Image URL</strong> </label>
    <br>
    <input  required value="<%= article.img %>" type="text"  name="img" class="form-control"/>
   
                             
  </div>                          
<div class="form-group">
  <label for="description"><strong>Description</strong></label>
  <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
</div>
<div class="form-group">
  <label for="markdown"><strong>Author Name</strong></label>
  <textarea required name="markdown" id="markdown"    class="form-control"><%= article.markdown %></textarea>
</div>

<a href="/" class="btn btn-danger">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>