<nav class="navbar navbar-expand-lg navbar navbar-dark bg-black navbar-fixed-top  " style="background-color:black;" >
  <div  class="logo">

    <img src="/css/pic/my_img.jpeg"   alt="logo error">
    
</div>
<a style="margin-left: 40px;color: rgb(173, 7, 7); font-family: 'Cookie', cursive; font-size: 30px; " class="navbar-brand" href="/articles/home"><strong   > Blogs</strong></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul style=" background-color: black;" class="navbar-nav">
      <li class="nav-item active">
        <a  style="color: white; font-size: 18px ; " class="nav-link" href="/articles/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a  style="color: white; font-size: 18px;" class="nav-link" href="/articles/fav_spot"><strong>Vlog Details</strong></a>
      </li>
      <li class="nav-item">
        <a  style="color: white; font-size: 18px;" class="nav-link" href="/"><strong>My Blogs</strong></a>
      </li>
      
      <li class="nav-item">
        <a  style="color: white; font-size: 18px;" class="nav-link" href="/articles/new"><strong>New Blog</strong></a>
      </li>
      <li class="nav-item">
        <a  style="color: white;font-size: 18px;" class="nav-link" href="/articles/contact"><strong>Contact</strong></a>
      </li>
      <li class="nav-item">
        <a  style="color: white;font-size: 18px;" class="nav-link" href="/articles/search"><strong class="bi bi-search" >Search </strong></a>
      </li>
      
    </ul>
  
     
 
  </div>
</nav>